html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Bebas Neue', cursive;;
}

.mycolor {
    background-color: #FF69B4;
}

.navlist {
    list-style: none;
}

.mynavlink {
    color: white;
    text-decoration: none;
    background-color: transparent;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none !important;
    letter-spacing: 1px;
}

.mynavbrand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 4rem;
    font-size: 1.7rem;
    line-height: inherit;
    white-space: nowrap;
    color: white !important;
    text-decoration: none !important;
    letter-spacing: 1px;
}

/*h2 {
    margin: 15px;
}*/

/*.container1 {
    display: flex;
    padding-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #FF69B4;
}*/

/*.container {
    display: flex;
    background-image: url(https://www.transparenttextures.com/patterns/brick-wall.png);
    padding-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}*/

.contentbackground {
    background-image: url(https://www.transparenttextures.com/patterns/brick-wall.png);
    padding-top: 15px;
    padding-bottom: 15px;
}
    

.table {
    border-bottom: 2px solid;
}

